sudo: false
dist: trusty

language: node_js
node_js:
  - "node"

cache:
  yarn: true
  directories:
    - node_modules
    - ~/.npm
    - ~/.cache

before_install:
  - npm i -g yarn codecov

before_script:
  - yarn

script:
  - yarn lint
  - yarn build
  - yarn test -i && codecov

before_deploy: yarn docs:build

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GH_TOKEN
  keep-history: true
  local-dir: docs/.vuepress/dist
  on:
    branch: master
